<ol class="breadcrumb">
  <li class="active">Buslinien</li>
</ol>

<h1>Regensburg</h1>
<h4>Welchen Bus möchtest Du nehmen?</h4>

<% if logged_in? %>

  <ul class="list-group">
    <% @bus_lines.each do |line| %>
      <li class="list-group-item">
        <%= link_to "#{line.name}", line %> / 
        <%= link_to 'Edit', edit_bus_line_path(line) %> / 
        <%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Buslinie hinzufügen', new_bus_line_path, class: "btn btn-link" %>

<% else %>
  
  <div class="list-group">
    <% @bus_lines.each do |line| %>
        <%= link_to "#{line.name}", line, class: "list-group-item" %>
    <% end %>
  </div>

<% end %>

