<script>
  var hideModal = function(){
    $('#myModal').modal('hide');
  }
  var startTimer = function(){
    window.setTimeout(hideModal, 3500);
  }
</script>

<ol class="breadcrumb">
  <li><%= link_to 'Buslinien', bus_lines_path %></li>
  <li><%= link_to @direction.bus_line.name, bus_line_path(@direction.bus_line) %></li>
  <li class="active"><%= @direction.display_name %></li>
</ol>

<h1>Regensburg</h1>
<h4>An welcher Haltestelle möchtest Du einsteigen?</h4>

<% if logged_in? %>

  <ul class="list-group">
    <% @direction.bus_stops.each do |bus_stop| %>
      <li class="list-group-item">
        <!-- Show a loading indicator-->
        <%= link_to bus_stop.display_name, bus_stop, {class: "list-group-item", :onclick => "$('#myModal').modal({backdrop: 'static', keyboard: false}); startTimer();"} %>
        <%= link_to 'Edit', edit_bus_stop_path(bus_stop) %> / 
        <%= link_to 'Destroy', bus_stop, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Haltestelle hinzufügen', new_bus_stop_path, class: "btn btn-link" %>

<% else %>

  <div class="list-group">
    <% @direction.bus_stops.each do |bus_stop| %>
      <!-- Show a loading indicator-->
      <%= link_to bus_stop.display_name, bus_stop, {class: "list-group-item", :onclick => "$('#myModal').modal({backdrop: 'static', keyboard: false}); startTimer();"} %>
    <% end %>
  </div>

<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Abfrage läuft...</h4>
      </div>

      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

