<ol class="breadcrumb">
  <li><%= link_to 'Buslinien', bus_lines_path %></li>
  <li><%= link_to @direction.bus_line.name, bus_line_path(@direction.bus_line) %></li>
  <li class="active"><%= @direction.display_name %></li>
</ol>

<h1>Regensburg</h1>
<h4>An welcher Haltestelle möchtest Du einsteigen?</h4>

<% if logged_in? %>

  <ul class="list-group">
    <% @direction.bus_stops.each do |bus_stop| %>
      <li class="list-group-item">
        <%= link_to bus_stop.display_name, bus_stop %> / 
        <%= link_to 'Edit', edit_bus_stop_path(bus_stop) %> / 
        <%= link_to 'Destroy', bus_stop, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Haltestelle hinzufügen', new_bus_stop_path, class: "btn btn-link" %>

<% else %>

  <div class="list-group">
    <% @direction.bus_stops.each do |bus_stop| %>
      <%= link_to bus_stop.display_name, bus_stop, class: "list-group-item" %>
    <% end %>
  </div>

<% end %>
