<h1>Listing bus_stops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Direction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bus_stops.each do |bus_stop| %>
      <tr>
        <td><%= bus_stop.display_name %></td>
        <td><%= bus_stop.direction.display_name %></td>
        <td><%= link_to 'Show', bus_stop %></td>
        <td><%= link_to 'Edit', edit_bus_stop_path(bus_stop) %></td>
        <td><%= link_to 'Destroy', bus_stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bus stop', new_bus_stop_path %>
